Calculator/.classpath
Calculator/.project
Calculator/.settings/
Calculator/bin/
Test/

/.metadata/

Binary_tree/.classpath
Binary_tree/.gitignore
Binary_tree/.project
Binary_tree/.settings/org.eclipse.jdt.core.prefs

DA3018_vt19/

Recursive_descent/bin
Recursive_descent/.classpath
Recursive_descent/.gitignore
Recursive_descent/.project
Recursive_descent/.settings/


Recursive_descent/src/recursive_descent/ideér.txt

Recursive_descent/src/recursive_descent/test/
Recursive_descent/src/recursive_descent/bad1.tree
Recursive_descent/src/recursive_descent/bad2.tree
Recursive_descent/src/recursive_descent/bad3.tree
Recursive_descent/src/recursive_descent/eggs.tree
Recursive_descent/src/recursive_descent/two.tree
Graph_diameters/bin/

Graph_diameters/.classpath
Graph_diameters/.gitignore
Graph_diameters/.project
Graph_diameters/.settings/


Graph_diameters/src/graph_diameter/ideas.txt

Graph_diameters/src/graph_diameter/test1.dot
Graph_diameters/src/graph_diameter/test2.dot
Graph_diameters/src/graph_diameter/test3.dot
Graph_diameters/src/graph_diameter/test4.dot

Spruce_fingerprint_2017-03-10_16.48.olp.m4

