Calculator/.classpath
Calculator/.project
Calculator/.settings/
Calculator/bin/
Test/

/.metadata/

Binary_tree/.classpath
Binary_tree/.gitignore
Binary_tree/.project
Binary_tree/.settings/org.eclipse.jdt.core.prefs

DA3018_vt19/

Recursive_descent/bin
Recursive_descent/.classpath
Recursive_descent/.gitignore
Recursive_descent/.project
Recursive_descent/.settings/


Recursive_descent/src/recursive_descent/ideér.txt
